<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
<link rel="stylesheet" th:href="@{/bootstrap/bootstrap-table.css}">
<link rel="stylesheet" th:href="@{/bootstrap/bootstrap-table-sticky-header.css}">
<link rel="stylesheet" th:href="@{/js/layui/css/modules/layer/default/layer.css}">
<script type="text/javascript" th:src="@{/js/jquery/jquery-1.11.3.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap-table-resizable.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap-table-sticky-header.js}"></script>
<script type="text/javascript" th:src="@{/js/layui/lay/modules/layer.js}"></script>
<script type="text/javascript">
function password(){
	var password1=$("#password1").val();
	var password2=$("#password2").val();
	if(password1!=password2){
		$("#span1").html("俩次输入的密码不一致,请重新输入！");
	}else{
		$("#span1").html("");
		$("#tijiao").removeAttr("disabled");
	}
}

</script>
</head>
<body>
	<div class="container">
			<!-- <div class="text-center mt-5">
			  <img src="/dist/img/user2-160x160.jpg" class="rounded-circle" >
			</div> -->
		<div class='alert alert-primary' id="span1" role='alert'>[[${rust}]]</div>
		<form action="/user/updatePassword" method="post">
		   <div class="form-group">
		    <label for="formGroupExampleInput">原始密码：</label>
		    <input type="password" class="form-control"  name="oldPassword" required="required" />
		  	</div>
		   <div class="form-group">
		    <label for="formGroupExampleInput">新密码：</label>
		    <input type="password" class="form-control" name="newPassword"  id="password1" required="required" />
		  </div>
		   <div class="form-group">
		    <label for="formGroupExampleInput">确认新密码：</label>
		    <input type="password" class="form-control" id="password2" required="required" onblur="password()" />
		  </div>
		  <button type="submit" class="btn btn-primary btn-lg btn-block"  id="tijiao" disabled="disabled">确认修改</button>
		  <button type="reset" class="btn btn-secondary btn-lg btn-block">重置表单</button>
		</form>
	</div>
</body>
</html>