<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>文件列表</title>
   	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-fileinput.css}">
    <link rel="stylesheet" th:href="@{/js/layui/css/modules/layer/default/layer.css}">
    <script type="text/javascript" th:src="@{/bootstrap/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/fileinput_locale_zh.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui/lay/modules/layer.js}"></script>
</head>
<body>
    <div class="container">
        <iframe id="barframe"  width='100%' height='100%' frameborder='1'>
		</iframe>
    </div>
</body>
<script>
$(document).ready(function() {
	var url="[[${file.url}]]";
	  $('#barframe').attr('src', 'https://view.officeapps.live.com/op/view.aspx?src='+url);
});
  
</script>
</html>